.title {
  font-size: var(--font-size-xxl);
  font-weight: 700;
  color: var(--color-neutral-900);
  margin-bottom: 0.5rem;
}

.description {
  font-size: var(--font-size-md);
  color: var(--color-neutral-500);
}
