.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-lg);
  font-weight: 600;
  border-radius: var(--border-radius-sm);
}

.label {
  min-width: 0;
  text-align: start;
}

.badgeSuccess {
  background-color: var(--color-primary-green-50);
  color: var(--color-primary-green-200);
}

.badgeDanger {
  background-color: var(--color-status-error-100);
  color: var(--color-status-error-300);
}

.badgeNeutral {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-700);
}

.badgeInfo {
  background-color: var(--color-status-info-100);
  color: var(--color-status-info-300);
}

@media (max-width: 639px) {
  .badge {
    /* max-width: var(--max-width-badge); */
    max-width: 30vw;
  }

  .label {
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
}
